@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #b8548b; */
  overflow-x: hidden;
}

.parallaxTaffy {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* .parallaxTaffy::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, #ff8f9f, transparent);
  z-index: 1000;
} */

.parallaxTaffyPC {
  display: none;
}

.parallaxTaffy img {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.historia {
  position: relative;
  background-color: #ff8f9f;
}

#Nombre {
  position: absolute;
  font-family: "Pacifico", serif;
  color: #e75b84;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  top: 60%;
  text-shadow: 1px 1px 1px white, 2px 2px 1px white;
}

h1 {
  font-family: "Pacifico", serif;
  text-align: center;
  color: #e2245d;
  text-shadow: 1px 1px 1px white, 2px 2px 1px white;
  font-size: 3rem;
}

p,
li {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: start;
  font-family: "Montserrat", serif;
  /* font-family: "Lato", serif; */
}

.sec2 {
  background-image: url("img/MovilTaffy-05.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (max-width: 425px) {
  #Taffy {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .parallaxTaffy {
    display: none;
  }
  .parallaxTaffyPC {
    display: block;
    position: relative;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .parallaxTaffyPC img {
    position: absolute;
    width: 100%;
    pointer-events: none;
  }

  #Taffy {
    width: 50%;
  }
  .historia {
    width: 100vw;
  }
  #Arboles {
    bottom: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

h1 {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
